<%= form_for(@train) do |f| %>
<%= render 'common/errors', resource: @train %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>

  <div class="field">
    <%= f.label :railway_station, "Поточна станція" %>
    <%= f.collection_select :railway_station, RailwayStation.all, :id, :title %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
