<%= form_for(@train) do |f| %>
<%= render 'common/errors', resource: @train %>

  <div class="field">
    <%= f.label :number %><br>
    <%= f.number_field :number %>
  </div>

  <div class="field">
    <%= f.label :railway_station_id, "Поточна станція" %>
    <%= f.collection_select :railway_station_id, RailwayStation.all, :id, :title %>
  </div>

  <div class="field">
    <%= f.label :route_id, "Поточний маршрут" %>
    <%= f.collection_select :route_id, Route.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :wagons_id, "Вагони:" %>
    <%= f.collection_select :wagons_id, Wagon.all, :id, :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
