<h1>Салам</h1>
<%= link_to 'Список станцій', railway_stations_path %>
<br>
<%= link_to 'Список поїздів ', trains_path %>
<br>
<%= link_to 'Список маршрутів ', routes_path %>
<br>
<%= link_to 'Список вагонів ', wagons_path %>
<br>
<%= link_to 'Список квитків ', tickets_path %>

