<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @route.name %>
</p>
<p>
  <strong>RailwayStations:</strong>
  <% @route.railway_stations.each do |railway_station| %>
    <%= railway_station.title %>
  <% end %>
</p>

<p>
  <strong> Список поїздів:</strong>
  <% if @route.trains.present? %>
    <% @route.trains.each do |train|%>
      <%= train.number %>
    <% end %>
  <% else %>
    Не вказано
  <% end %>
</p>

<%= link_to 'Edit', edit_route_path(@route) %> |
<%= link_to 'Back', routes_path %>
